{% extends 'admin/layouts/base.html' %}
{% block content %}
<div class="container-fluid p-0">
    <div class="mb-3"><h1 class="h3 d-inline align-middle">Reply Details</h1><a class="btn btn-primary ms-2" href="{% url 'myadmin:shared:feedback_reply_update' reply.pk %}">Edit</a><a class="btn btn-danger ms-2" href="{% url 'myadmin:shared:feedback_reply_delete' reply.pk %}">Delete</a><a class="btn btn-secondary ms-2" href="{% url 'myadmin:shared:feedback_reply_list' %}">Back</a></div>
    <div class="row"><div class="col-12"><div class="card"><div class="card-header"><h5 class="card-title mb-0">Reply Information</h5></div><div class="card-body">
        <dl class="row"><dt class="col-sm-3">Feedback/Complaint:</dt><dd class="col-sm-9"><a href="{% url 'myadmin:shared:feedback_detail' reply.feedback_complain.pk %}">{{ reply.feedback_complain.subject }}</a></dd><dt class="col-sm-3">User:</dt><dd class="col-sm-9">{{ reply.user.name }}</dd><dt class="col-sm-3">Type:</dt><dd class="col-sm-9">{% if reply.is_admin_reply %}<span class="badge bg-primary">Admin</span>{% else %}<span class="badge bg-secondary">Customer</span>{% endif %}</dd><dt class="col-sm-3">Message:</dt><dd class="col-sm-9">{{ reply.message }}</dd><dt class="col-sm-3">Created:</dt><dd class="col-sm-9">{{ reply.created_at|date:"M d, Y H:i" }}</dd></dl>
    </div></div></div></div>
</div>
{% endblock %}

