{% extends 'admin/layouts/base.html' %}
{% block content %}
<div class="container-fluid p-0">
    <div class="mb-3"><h1 class="h3 d-inline align-middle">Seater Details</h1><a class="btn btn-primary ms-2" href="{% url 'myadmin:taxi:seater_update' seater.pk %}">Edit</a><a class="btn btn-danger ms-2" href="{% url 'myadmin:taxi:seater_delete' seater.pk %}">Delete</a><a class="btn btn-secondary ms-2" href="{% url 'myadmin:taxi:seater_list' %}">Back</a></div>
    <div class="row"><div class="col-12"><div class="card"><div class="card-header"><h5 class="card-title mb-0">Seater Information</h5></div><div class="card-body">
        <dl class="row"><dt class="col-sm-3">Trip:</dt><dd class="col-sm-9">{{ seater.trip }}</dd><dt class="col-sm-3">Seat:</dt><dd class="col-sm-9">{{ seater.seat }}</dd><dt class="col-sm-3">Price:</dt><dd class="col-sm-9">₹{{ seater.price }}</dd></dl>
    </div></div></div></div>
</div>
{% endblock %}

