{% extends 'admin/layouts/base.html' %}
{% block content %}
<div class="container-fluid p-0">
    <div class="mb-3"><h1 class="h3 d-inline align-middle">Vehicle Details</h1><a class="btn btn-primary ms-2" href="{% url 'myadmin:taxi:vehicle_update' vehicle.pk %}">Edit</a><a class="btn btn-danger ms-2" href="{% url 'myadmin:taxi:vehicle_delete' vehicle.pk %}">Delete</a><a class="btn btn-secondary ms-2" href="{% url 'myadmin:taxi:vehicle_list' %}">Back</a></div>
    <div class="row"><div class="col-12"><div class="card"><div class="card-header"><h5 class="card-title mb-0">Vehicle Information</h5></div><div class="card-body">
        <dl class="row"><dt class="col-sm-3">Name:</dt><dd class="col-sm-9">{{ vehicle.name }}</dd><dt class="col-sm-3">Vehicle No:</dt><dd class="col-sm-9">{{ vehicle.vehicle_no }}</dd><dt class="col-sm-3">Driver:</dt><dd class="col-sm-9">{{ vehicle.driver.user.name }}</dd><dt class="col-sm-3">Status:</dt><dd class="col-sm-9">{% if vehicle.is_active %}<span class="badge bg-success">Active</span>{% else %}<span class="badge bg-danger">Inactive</span>{% endif %}</dd><dt class="col-sm-3">Created:</dt><dd class="col-sm-9">{{ vehicle.created_at|date:"M d, Y" }}</dd></dl>
    </div></div></div></div>
</div>
{% endblock %}

